MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/databasename
PORT=5000
FRONTEND_URL=http://localhost:3000
NODE_ENV=development
JWT_SECRET=your_jwt_secret_key_here
SMTP_SERVICE=gmail
SMTP_EMAIL=your_email@gmail.com
SMTP_PASSWORD=your_app_password
